{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Checkout </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    </head>

    <body>

        <nav class="barraHome">
        <ul class="navItem">
            <li><a href="{% url 'home' %}"> Home </a></li>
            <li><a href="{% url 'shopping_cart' %}"> Carrello </a></li>
            <li><a href="{% url 'logout' %}"> Logout </a></li>
        </ul>
        </nav>

        <div class="row">
              <div class="col-75">
                <div class="container">
                  <form action="/ordine" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-50">
                        <h3> Dati Spedizione </h3>
                        <label for="nome"> Nome </label>
                          <input type="text" id="nome" name="nome">
                          <label for="cognome"> Cognome </label>
                          <input type="text" id="cognome" name="cognome">
                        <label for="email"> Email </label>
                          <input type="email" id="email" name="email">
                        <label for="indirizzo"> Indirizzo </label>
                          <input type="text" id="indirizzo" name="indirizzo">
                        <label for="citta"> Citta </label>
                          <input type="text" id="citta" name="citta">
                          <label for="regione"> Regione </label>
                          <input type="text" id="regione" name="regione">
                          <label for="provincia"> Provincia </label>
                          <input type="text" id="provincia" name="provincia">

                        <div class="row">
                          <div class="col-50">
                            <label for="stato"> Stato </label>
                              <input type="text" id="stato" name="stato">
                          </div>
                            <br/>
                          <div class="col-50">
                            <label for="codice_postale"> Codice Postale </label>
                            <input type="number" id="codice_postale" name="codice_postale">
                          </div>
                        </div>
                      </div>

                      <div class="col-50">
                        <h3> Pagamento </h3>
                        <label for="nome_carta"> Nome sulla carta </label>
                        <input type="text" id="nome_carta" name="nome_carta">
                        <label for="numero_carta"> Numero Carta </label>
                        <input type="number" id="numero_carta" name="numero_carta">

                        <div class="row">
                          <div class="col-50">
                            <label for="scadenza"> Scadenza </label>
                            <input type="date" id="scadenza" name="scadenza">
                          </div>
                          <div class="col-50">
                            <label for="cvv"> CVV </label>
                            <input type="number" id="cvv" name="cvv">
                          </div>
                        </div>
                      </div>

                    </div>
                    <input type="submit" value="Paga" class="btn">
                  </form>
                </div>
              </div>

              <div class="col-25">
                <div class="container">
                  <h4>Elementi Carrello
                    <span class="price" style="color:black">
                      <i class="fa fa-shopping-cart"> {{ numero_elementi }} </i>
                    </span>
                  </h4>
                  <hr>
                  <p> Totale <span class="price" style="color:black"> <b> {{ prezzo_totale }} </b> </span> </p>
                </div>
              </div>
        </div>
    </body>
</html>