{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-commerce</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>

    <nav class="barraHome">
    <ul class="navItem">
        <li><a href="{% url 'home' %}"> Home </a></li>
        <li><a href="#"> Carrello </a></li>
        <li><a href="{% url 'logout' %}"> Logout </a></li>
    </ul>
    </nav>

    <div class="sezioneRicerca">

        <form method="get" >
            <input class="barraRicerca" type="text" name="search" placeholder=" Cerca prodotti">
            <button class="buttonRicerca" type="submit">Cerca</button>
        </form>

    </div>

    <h1 class="Titolo"> E-commerce </h1>

    <div>
    <h2 align="center"> Lista Prodotti </h2>
    </div>

    <div>
    <form  method="get">
        <select class="filtro" name="order_by" class="styled-select">
                <option value="nessuno">Nessuno</option>
                <option value="prezzo" >Prezzo: In ordine crescente</option>
                <option value="-prezzo" >Prezzo: In ordine decrescente</option>
                <option value="nome" >A-Z</option>
                <option value="-nome" >Z-A</option>
        </select>
        <button type="submit"> Filtra </button>

    </form>
    </div>

    <div class="listaProdotti">
        {% for prodotto in prodotti %}
            <div class="schedaProdotto">
                <h3 class="titoloProdotto">{{ prodotto.nome }}</h3>
                <p class="descrizioneProdotto">{{ prodotto.descrizione }}</p>
                <p class="prezzoProdotto">Prezzo: ${{ prodotto.prezzo }}</p>
                <button class="aggiungiCarrello"> Aggiungi al carrello </button>

            </div>
        {% endfor %}

    </div>
</body>
</html>